{
  "settings":{
    "log_name": "logs_info1.log",
    "retry_connections": 5
  },
  "id": {
    "53589": {
      "test": {
        "330897513": {
          "sender_id":"00009324",
          "name": "Blue Cross Blue Shiled of Arizona",
          "host_name": "ftp10.officeally.com",
          "password": "gAAAAABf9IsFpq8TEX6kHefEGjwFntWXvmvTEGiOwWF9HHiqy4OHqRxntgSc6ry2-UFhvzI3sz0ipIqHQjKqlguQvYwYI_v6Yg==",
          "port": 22,
          "username": "alphamedsmpt",
          "trans_allowed":[271,277,835,270,276,837],
          "inbound": " ",
          "outbound": "./medvertex/"
        },
        "53589": {
          "sender_id":"00009324",
          "name": "Blue Cross Blue Shiled of Arizona",
          "host_name": "filegateway.bcbsaz.com",
          "password": "gAAAAABfmrzy6QHpQyxHV6BTUfcbwzJ2yOT_T0Iv7ZsCLMDUEAIochuJifbtmAky_eQB44X6tr-N3B0c1AlhxT4IfB9zktQASWHtSFzmjEBj4WKYYWDvKcI=",
          "port": 12233,
          "username": "9324MEDVTXSTG",
          "trans_allowed":[271,277,835,270,276,837],
          "inbound": " ",
          "outbound": "./Inbox/"
        }
      },
      "prod": {
        "330897513": {
           "sender_id":"00009324",
          "name": "Blue Cross Blue Shiled of Arizona",
          "host_name": "ftp10.officeally.com",
          "password": "gAAAAABf6zC_E7stxQLbAxcLen_XfUVs9om4UtcBYhpv7XJYUZWfyJuFEMKGVEhKsuUKfeW1Hg7krRE_vISA5rAImqUtF_oBrw==",
          "port": 11233,
          "username": "9324MEDVTX",
          "trans_allowed":[271,277,835,270,276,837],
          "inbound": " ",
          "outbound": " "
        },
        "53589": {
           "sender_id":"00009324",
          "name": "Blue Cross Blue Shiled of Arizona",
          "host_name": "filegateway.bcbsaz.com",
          "password": "gAAAAABf2MALEhOOAXelFnKDuoNh_O8Az0Gfd8AuGIkTWGJN-V7pZm5nC8w04RqmlAMnGDOyodRKQ5P1eIGpgPOU4cU1JceT62zw9yqLJsOYhvOOnGshys4=",
          "port": 11233,
          "username": "9324MEDVTX",
          "trans_allowed":[271,277,835,270,276,837],
          "inbound": " ",
          "outbound": " "
        }
      },
      "dev": {
       "medvertexdev": {
          "sender_id":"00009324",
          "name": "Medvertex dev server",
          "host_name": "209.151.150.58",
          "password": "gAAAAABf9HkctMuJuscTOf2HVmaeeQKpjT5Z7gGEy0LSjRiuqAzWqAimMaQYEzwY5BaWsL28zNebI0a6AeYhMgsYm0PQzMPxs5e_tVHus-k2jrd75heKaXU=",
          "port": 63322,
          "username": "hishammv",
          "trans_allowed":[271,277,835,270,276,837],
          "inbound": " ",
          "outbound": " "
        }
      },
      "stage": {
      }
    },
    "62308": {
      "test": {
        "officeally": {
          "name": "Blue Cross Blue Shiled of Arizona",
          "host_name": "filegateway.bcbsaz.com",
          "password": "gAAAAABfmrzy6QHpQyxHV6BTUfcbwzJ2yOT_T0Iv7ZsCLMDUEAIochuJifbtmAky_eQB44X6tr-N3B0c1AlhxT4IfB9zktQASWHtSFzmjEBj4WKYYWDvKcI=",
          "port": 12233,
          "username": "9324MEDVTXSTG"
        },
        "cigna": {
          "name": "Blue Cross Blue Shiled of Arizona",
          "host_name": "filegateway.bcbsaz.com",
          "password": "gAAAAABfmrzy6QHpQyxHV6BTUfcbwzJ2yOT_T0Iv7ZsCLMDUEAIochuJifbtmAky_eQB44X6tr-N3B0c1AlhxT4IfB9zktQASWHtSFzmjEBj4WKYYWDvKcI=",
          "port": 12233,
          "username": "9324MEDVTXSTG"
        }
      },
      "prod": {
        "officeally": {
          "name": "Blue Cross Blue Shiled of Arizona",
          "host_name": "filegateway.bcbsaz.com",
          "password": "gAAAAABfmrzy6QHpQyxHV6BTUfcbwzJ2yOT_T0Iv7ZsCLMDUEAIochuJifbtmAky_eQB44X6tr-N3B0c1AlhxT4IfB9zktQASWHtSFzmjEBj4WKYYWDvKcI=",
          "port": 12233,
          "username": "9324MEDVTXSTG"
        },
           "cigna": {
          "name": "Blue Cross Blue Shiled of Arizona",
          "host_name": "filegateway.bcbsaz.com",
          "password": "gAAAAABfmrzy6QHpQyxHV6BTUfcbwzJ2yOT_T0Iv7ZsCLMDUEAIochuJifbtmAky_eQB44X6tr-N3B0c1AlhxT4IfB9zktQASWHtSFzmjEBj4WKYYWDvKcI=",
          "port": 12233,
          "username": "9324MEDVTXSTG"
        }
      },
      "dev": {
      },
      "stage": {
      }
    },

    "87726": {
      "test": {
        "officeally": {
          "name": "United Healthcare",
          "host_name": "filegateway.bcbsaz.com",
          "password": "gAAAAABfmrzy6QHpQyxHV6BTUfcbwzJ2yOT_T0Iv7ZsCLMDUEAIochuJifbtmAky_eQB44X6tr-N3B0c1AlhxT4IfB9zktQASWHtSFzmjEBj4WKYYWDvKcI=",
          "port": 12233,
          "username": "9324MEDVTXSTG"
        },
        "uhc": {
          "name": "United Healthcare",
          "host_name": "filegateway.bcbsaz.com",
          "password": "gAAAAABfmrzy6QHpQyxHV6BTUfcbwzJ2yOT_T0Iv7ZsCLMDUEAIochuJifbtmAky_eQB44X6tr-N3B0c1AlhxT4IfB9zktQASWHtSFzmjEBj4WKYYWDvKcI=",
          "port": 12233,
          "username": "9324MEDVTXSTG"
        }
      },
      "prod": {
        "officeally": {
          "name": "United Healthcare",
          "host_name": "filegateway.bcbsaz.com",
          "password": "gAAAAABfmrzy6QHpQyxHV6BTUfcbwzJ2yOT_T0Iv7ZsCLMDUEAIochuJifbtmAky_eQB44X6tr-N3B0c1AlhxT4IfB9zktQASWHtSFzmjEBj4WKYYWDvKcI=",
          "port": 12233,
          "username": "9324MEDVTXSTG"
        },
        "uhc": {
          "name": "United Healthcare",
          "host_name": "filegateway.bcbsaz.com",
          "password": "gAAAAABfmrzy6QHpQyxHV6BTUfcbwzJ2yOT_T0Iv7ZsCLMDUEAIochuJifbtmAky_eQB44X6tr-N3B0c1AlhxT4IfB9zktQASWHtSFzmjEBj4WKYYWDvKcI=",
          "port": 12233,
          "username": "9324MEDVTXSTG"
        }
      },
      "dev": {
      },
      "stage": {
      }
    }
  }
}